@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model RegisterViewModel

<div class="modal fade" id="loginModal" tabindex="-1" style="display: none;" aria-hidden="true">
	<div class="modal-dialog">

		<!-- Modal content -->
		<div class="modal-content">
			<!-- Modal body -->
			<div class="modal-body">

				<!-- Pills navs -->
				<ul class="nav nav-pills nav-justified mb-3" role="tablist">
					<li class="nav-item" role="presentation">
						<a class="nav-link" data-mdb-toggle="pill" href="#navbarLogin-login" role="tab" aria-selected="true">Login</a>
					</li>
					<li class="nav-item" role="presentation">
						<a class="nav-link active show" data-mdb-toggle="pill" href="#navbarLogin-signup" role="tab" aria-selected="false" tabindex="-1">Register</a>
					</li>
				</ul>

				<!-- Pills panels -->
				<div class="tab-content">

					<!--Panel 1-->
					<div class="tab-pane fade" id="navbarLogin-login" role="tabpanel">

						<!-- Default form login -->
						<form id="login" class="text-center needs-validation" action="login" method="post" name="login-form">

							<p class="status"></p>

							<div class="text-center mb-3">
								<div class="wp-social-login-widget">
									<div class="wp-social-login-connect-with">Connect with:</div>
									<div class="wp-social-login-provider-list">
										<a rel="nofollow" href="" title="Connect with Facebook" class="btn btn-primary btn-floating mx-1 ripple-surface" data-provider="Facebook" role="button" style="min-width: 37px;"><i class="fab fa-facebook-f"></i></a>
										<a rel="nofollow" href="" title="Connect with Google" class="btn btn-primary btn-floating mx-1" data-provider="Google" role="button"><i class="fab fa-google"></i></a>
										<a rel="nofollow" href="" title="Connect with Twitter" class="btn btn-primary btn-floating mx-1" data-provider="Twitter" role="button"><i class="fab fa-twitter"></i></a>
									</div>
								</div>
							</div>

							<p class="text-center">or:</p>

							<!-- Email input -->
							<div class="form-outline form-auth-mdb mb-4">
								<input type="text" id="username" class="form-control" name="username" required="">
								<label class="form-label" for="username" style="margin-left: 0px;">Your e-mail or username</label>
								<div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 146.4px;"></div><div class="form-notch-trailing"></div></div>
							</div>

							<!-- Password input -->
							<div class="form-outline form-auth-mdb mb-4">
								<input type="password" id="password" class="form-control" name="password" autocomplete="off" required="">
								<label class="form-label" for="password" style="margin-left: 0px;">Your password</label>
								<div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 92.8px;"></div><div class="form-notch-trailing"></div></div>
							</div>

							<!-- 2 column grid layout for inline styling -->
							<div class="justify-content-center mb-4">
								<a href="">Forgot password?</a>
							</div>

							<button class="btn btn-primary btn-block mb-4" type="submit" value="LOGIN">Sign in</button>

							<!-- Register buttons -->
							<div class="text-center">
								<p>Not a member? <a href="#" class="auth-modal-toggle" data-auth-modal-tab="sign-up">Register</a></p>
							</div>

						</form>
						<!-- Default form login -->

					</div>
					<!--/.Panel 1-->
					<!--Panel 2-->
					<div class="tab-pane fade in show active" id="navbarLogin-signup" role="tabpanel">

						<!-- Default form register  -->
						<form id="register" class="text-center needs-validation" method="post" asp-controller="Account" asp-action="Register">

							<!-- Social login -->

							<p class="status"></p>

							<div class="text-center mb-3">
								<div class="wp-social-login-widget">
									<div class="wp-social-login-connect-with">Connect with:</div>
									<div class="wp-social-login-provider-list">
										<a rel="nofollow" href="" title="Connect with Facebook" class="btn btn-primary btn-floating mx-1 ripple-surface" data-provider="Facebook" role="button" style="min-width: 37px;"><i class="fab fa-facebook-f"></i></a>
										<a rel="nofollow" href="" title="Connect with Google" class="btn btn-primary btn-floating mx-1" data-provider="Google" role="button"><i class="fab fa-google"></i></a>
										<a rel="nofollow" href="" title="Connect with Twitter" class="btn btn-primary btn-floating mx-1" data-provider="Twitter" role="button"><i class="fab fa-twitter"></i></a>
									</div>
								</div>
							</div>
							<!-- Social login -->

							<p class="text-center">or:</p>

							<!-- Username input -->
							<div class="form-outline form-auth-mdb mb-4">
								<input type="text" id="signonusername" class="form-control" asp-for="Username" required minlength="3">
								<label asp-for="Username" class="form-label" style="margin-left: 0px;">Your username</label>
								<div class="invalid-feedback">Please provide a valid username.</div>
								<div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 8px;"></div><div class="form-notch-trailing"></div></div>
							</div>

							<!-- Email input -->
							<div class="form-outline form-auth-mdb mb-4">
								<input type="email" id="signonemail" class="form-control" asp-for="Email" required="">
								<label asp-for="Email" class="form-label" style="margin-left: 0px;">Your email</label>
								<div class="invalid-feedback">Please provide a valid email.</div>
								<div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 8px;"></div><div class="form-notch-trailing"></div></div>
							</div>

							<!-- Password input -->
							<div class="form-outline form-auth-mdb mb-4">
								<input type="password" id="signonpassword" class="form-control" asp-for="Password" autocomplete="off" required="" minlength="5">
								<label asp-for="Password" class="form-label" style="margin-left: 0px;">Your password</label>
								<div class="invalid-feedback">Please provide a valid password.</div>
								<div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 8px;"></div><div class="form-notch-trailing"></div></div>
							</div>

							<!-- Repeat Password input -->
							<div class="form-outline form-auth-mdb mb-4">
								<input type="password" id="signonpassword2" class="form-control" asp-for="PasswordConfirm" autocomplete="off" required="" minlength="5">
								<label asp-for="PasswordConfirm" class="form-label" style="margin-left: 0px;">Repeat password</label>
								<div asp-validation-for="PasswordConfirm" class="invalid-feedback">Password mismatch.</div>
								<div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 8px;"></div><div class="form-notch-trailing"></div></div>
							</div>

							<!-- Agree checkbox -->
							<div class="form-check d-flex justify-content-center">
								<input type="checkbox" id="signonagree" class="form-check-input me-1" asp-for="IsAgree" required>
								<label class="form-check-label" asp-for="IsAgree">I have read and agree to the terms</label>
							</div>

							<button class="btn btn-primary btn-block mb-3" id="RegisterBtn" type="button" onsubmit="return false" value="SIGNUP">
								Sign up
							</button>

							<div id="signonfeedback" class="text-danger"></div>

						</form>
						<!-- Default form register  -->

					</div>
					<!--/.Panel 2-->

				</div>
				<!-- Pills panels -->

			</div>
			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
					Close
				</button>
			</div>
		</div>
		<!-- Modal content -->
	</div>
</div>

<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", () => {

		// Register form elements
		const registerBtn = document.getElementById("RegisterBtn");
		const usernameInput = document.getElementById("signonusername");
		const emailInput = document.getElementById("signonemail");
		const passwordInput = document.getElementById("signonpassword");
		const passwordConfirmInput = document.getElementById("signonpassword2");
		const isAgreeInput = document.getElementById("signonagree");
		const registerForm = document.getElementById("register");
		const serverFeedback = document.getElementById("signonfeedback");

		registerBtn.addEventListener("click", () => {
			registerForm.classList.add("was-validated");
			serverFeedback.innerText = "";

			// Password match validation
			const password = passwordInput.value;
			const passwordConfirm = passwordConfirmInput.value;
			if(password !== passwordConfirm) {
				passwordConfirmInput.classList.add("is-invalid");
				return;
			}
			else {
				passwordConfirmInput.classList.remove("is-invalid");
			}

			if (registerForm.checkValidity()) {
				const username = usernameInput.value;
				const email = emailInput.value;
				const isAgree = isAgreeInput.value;

				fetch("Account/Register", {
					body: `Username=${username}&Email=${email}&Password=${password}&PasswordConfirm=${passwordConfirm}&IsAgree=${isAgree}`,
					headers: {
						"Content-Type": "application/x-www-form-urlencoded",
					},
					method: "post",
				})
					.then(r => r.json())
					.then(j => {
						console.log(j);
						if (j.success === true) {
							window.location.href = "/Account/SuccessfulRegistration";
						}
						else {
							j.errors.forEach(e => serverFeedback.innerText += e + "\n");
						}
					});
			}
			else
			{
				registerForm.reportValidity();
				return;
			}
		});
	});
</script>