@model ProfileViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
	<div class="col d-flex align-items-center flex-column">
		<div>@Model.UserName</div>
		<img src="~/img/@(string.IsNullOrEmpty(Model.AvatarUrl) ? "default-avatar.png" : $"avatars/{Model.AvatarUrl}")" alt="avatar"
			 class="my-3" title="@Model.UserName"
			 style="aspect-ratio: 1/1; width: 100%; border-radius: 100%">
		<div class="my-3">@Model.Role</div>
		@if(User.Identity is not null && User.Identity.Name == Model.UserName)
		{
			<a class="btn btn-primary" asp-action="Manage">Manage</a>
		}
	</div>
	<div class="col-10">
		<h3>Recent posts:</h3>
		@if(Model.RecentPosts.Count == 0)
		{
			<p>Nothing yet.</p>
		}
		@foreach (var post in Model.RecentPosts)
		{
			@Html.DisplayFor(m => post, "RecentPost")
		}
	</div>
</div>