@model AspForum.Data.Entities.Theme
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="card mb-3 color-bg-dark">
	<div class="card-body">
		<a asp-action="Theme" asp-route-id="@Model.Id">
			<h4>@Model.Title</h4>
		</a>
		<p>@Model.Description</p>
	</div>
</div>