html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card {
    --mdb-card-spacer-y: 1rem;
}

#avatarImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

#avatarImage img {
    object-fit: contain;
}

#avatarImage:hover img {
    filter: brightness(0.5);
}

#avatarImage:hover span {
    opacity: 1 !important;
}

#avatarImage span {
    width: 100%;
}

.color-bg-dark {
    background-color: #303030 !important;
}

.nav-pills:not(.menu-sidebar) .nav-link.active, .nav-pills:not(.menu-sidebar) .show > .nav-link {
    color: #262626;
    background-color: #e3ebf7;
}